apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "kaipo-client.fullname" . }}
  labels:
    app.kubernetes.io/name: {{ include "kaipo-client.name" . }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "kaipo-client.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "kaipo-client.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
        {{- if .Values.loki.enabled }}
        {{- range $key, $value := .Values.loki.labels }}
        {{ $key }}: {{ $value | quote }}
        {{- end }}
        {{- end }}
    spec:
      {{- if .Values.image.pullSecrets }}
      imagePullSecrets:
        {{- toYaml .Values.image.pullSecrets | nindent 8 }}
      {{- end }}

      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}

      containers:
        - name: {{ include "kaipo-client.name" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"

          imagePullPolicy: {{ .Values.image.pullPolicy }}

          ports:
            - containerPort: {{ .Values.container.port }}
              name: http

          env:
            {{- range $key, $value := .Values.envVars }}
            - name: {{ $key }}
              value: {{ $value | quote }}
            {{- end }}
            {{- if .Values.container.env }}
            {{- toYaml .Values.container.env | nindent 12 }}
            {{- end }}

          envFrom:
            {{- if .Values.configmap.enabled }}
            - configMapRef:
                name: {{ include "kaipo-client.fullname" . }}
            {{- end }}

            {{- if .Values.secret.enabled }}
            {{- $secretName := default (printf "%s-secret" (include "kaipo-client.fullname" .)) .Values.secret.name }}
            - secretRef:
                name: {{ $secretName }}
            {{- end }}

          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}

          {{- if .Values.probes.enabled }}
          livenessProbe:
            httpGet:
              path: {{ .Values.probes.liveness.path }}
              port: http
            initialDelaySeconds: {{ .Values.probes.liveness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.liveness.periodSeconds }}

          readinessProbe:
            httpGet:
              path: {{ .Values.probes.readiness.path }}
              port: http
            initialDelaySeconds: {{ .Values.probes.readiness.initialDelaySeconds }}
            periodSeconds: {{ .Values.probes.readiness.periodSeconds }}
          {{- end }}

          resources:
            {{- toYaml .Values.resources | nindent 12 }}