{{- if .Values.secret.enabled }}
{{- $secretName := default (printf "%s-secret" (include "kaipo-client.fullname" .)) .Values.secret.name }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ $secretName }}
  labels:
    {{- include "kaipo-client.labels" . | nindent 4 }}
type: Opaque
data:
  {{- range $key, $value := .Values.secret.data }}
  {{ $key }}: {{ $value | b64enc }}
  {{- end }}
{{- end }}